#arrayDisplay {
  height: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin-top: 2px;
}

.arrayElement {
  padding-top: 7px;
  font-family: sans-serif;
  display: inline-block;
  border: 2px solid black;
}

#arrayBody {
  border-radius: 4px;
  display: inline-block;
  padding: 0px;
  min-height: 450px;
  min-width: 765px;
}
.colorBlock {
  display: inline-block;
  max-height: 50px;
  max-width: 25px;
  min-height: 50px;
  min-width: 25px;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
}
#swapBlock {
  background-color: red;
}
#evalBlock {
  background-color: green;
}
#finalBlock {
  background-color: blue;
}
#unsortedBlock {
  background-color: purple;
}

.legendBlock {
  border-radius: 4px;
  display: inline-block;
  max-width: 150px;
  font-style: serif;
  padding-bottom: 10px;
}

#legend {
  /*
  border: 1px solid black;
  border-radius: 4px;
  */
}
