#arrayDisplay {
  height: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin-top: 2px;
}

.arrayElement {
  padding-top: 7px;
  font-family: sans-serif;
  display: inline-block;
  border: 2px solid black;
}

#arrayBody {
  border-radius: 4px;
  display: inline-block;
  padding: 0px;
  min-height: 450px;
  min-width: 765px;
}
.colorBlock {
  display: inline-block;
  max-height: 25px;
  max-width: 15px;
  min-height: 25px;
  min-width: 15px;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
}

.legendBlock {
  border-radius: 2px;
  display: inline-block;
  max-width: 150px;
  font-style: serif;
  padding-bottom: 10px;
}

#legend {
  border-left: solid black 2px;
}
