#controlBar {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
#generateNewArrayBtn {
  display: inline-block;
  margin-bottom: 10px;
}

#speedRangeContainer {
}
#speedRangeInput {
  padding: 5px;
}

#speedRangeLabel {
  padding-bottom: 5px;
}
#dropdown {
  max-width: 100%;
}
#startBtn {
  margin: 10px;
}

#pageBody {
  min-width: 1000px;
  width: auto !important;
  width: 1000px;
}
